@font-face {
    font-family: 'faustina';
    src: url('../fonts/faustina/faustina_bold_italic-webfont.eot');
    src: url('../fonts/faustina/faustina_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/faustina/faustina_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/faustina/faustina_bold_italic-webfont.woff') format('woff'),
         url('../fonts/faustina/faustina_bold_italic-webfont.ttf') format('truetype'),
         url('../fonts/faustina/faustina_bold_italic-webfont.svg#faustinabold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'faustina';
    src: url('../fonts/faustina/faustina_bold-webfont.eot');
    src: url('../fonts/faustina/faustina_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/faustina/faustina_bold-webfont.woff2') format('woff2'),
         url('../fonts/faustina/faustina_bold-webfont.woff') format('woff'),
         url('../fonts/faustina/faustina_bold-webfont.ttf') format('truetype'),
         url('../fonts/faustina/faustina_bold-webfont.svg#faustinabold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'faustina';
    src: url('../fonts/faustina/faustina_italic-webfont.eot');
    src: url('../fonts/faustina/faustina_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/faustina/faustina_italic-webfont.woff2') format('woff2'),
         url('../fonts/faustina/faustina_italic-webfont.woff') format('woff'),
         url('../fonts/faustina/faustina_italic-webfont.ttf') format('truetype'),
         url('../fonts/faustina/faustina_italic-webfont.svg#faustinaitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'faustina';
    src: url('../fonts/faustina/faustina_regular-webfont.eot');
    src: url('../fonts/faustina/faustina_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/faustina/faustina_regular-webfont.woff2') format('woff2'),
         url('../fonts/faustina/faustina_regular-webfont.woff') format('woff'),
         url('../fonts/faustina/faustina_regular-webfont.ttf') format('truetype'),
         url('../fonts/faustina/faustina_regular-webfont.svg#faustinaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
