//_________________________________
//agenda
//_________________________________
.section-agenda-in {
  td.currentday{
    background-color: #00b0f6;
    color:#fff;
  }
  article {
    header {
      clear: both;
      h4 {
        background-color: #504f51;
        padding: 2px 8px;
        color: #fff;
        font-size: 17px;
        font-weight: normal;
        display: inline-block;
        text-transform: uppercase;
        margin: 5px 0;
        font-weight: 300;
        //  font-family: 'Dosis', sans-serif;
      }
      h1 {
        font-weight: 200;
        color: #504f51;
        margin: 5px 0;
        font-size: 30px;
        //font-family: 'Dosis', sans-serif;
        strong {
          font-weight: 400;
        }
      }
      h3.sala {
        clear: none;
        background-color: #969696;
        color: #fff;
        padding: 2px 5px;
        float: left;
      }
      h3 {
        margin: 10px 5px 10px 0;
        font-weight: 300;
        float: left;
        padding: 2px;
        font-size: 19px;
      }
    }
    p {
      clear: both;
      font-weight: 300;
      color: #504f51;
      font-size: 16px!important;
      line-height: 22px;
      margin-right: 32%;
    }
    figure {
      margin: 0;
      position:relative;

      img {
        min-width: 100%;
      }
    }
    footer {
      padding: 20px 0;
    }
    .swiper-container {
      width: 100%;
      height: 150px;
      .swiper-slide {

      }
      .swiper-slide:nth-child(1n) {
        width: 67%!important;
      }
      .swiper-slide:nth-child(2n) {
        width: 33.5%!important;
      }
    }
  }

  @include breakpoint($smallmax-screens) {

  }
  @include breakpoint($almost-screens) {

  }
  @include breakpoint($medium-screens) {

  }
}
