//_________________________________
//agenda
//_________________________________
.section-noticias {
  #masonry-container {
    top: 0;
    padding-bottom: 100px;

  }
  @include breakpoint($smallmax-screens) {
    #masonry-container {
      top: 0;
      padding-bottom: 100px;
    }
  }
  @include breakpoint($large-screens) {
    #masonry-container {
      top: 0;
      padding-bottom: 100px;
      .grid-sizer{
      width:50%;
      }
    }
  }
}
.article-noticias {
  h4{
    font-size:17px!important;
  }

  @include breakpoint($smallmax-screens) {

  }
  @include breakpoint($almost-screens) {

  }
  @include breakpoint($medium-screens) {

  }
}
