//_________________________________
//Sitemap
//_________________________________
.section-sitemap {
  font-family: 'geogrotesque';
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
  }
  >ul {
    li {

    }
    >li {
      >ul {
        >li:nth-child(1) {

          //margin: 10px;
          padding: 10px;
          text-align: center;
          a {
            background-color: #a5a5a5;
            padding: 10px;
            text-decoration: none;
            font-weight: 300;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            display: block;
          }
        }
        >li:nth-child(2) {
          >ul {
            border-top: 1px solid #6bd1ef;
            padding: 20px 0 40px;
            margin: 30px 10px 0;
            >li {
              padding: 10px;
              min-width: 22%;
              background-color: #ddd;
              margin-bottom: 5px;
              text-align: center;

              //  display:block;
              a {
                padding: 10px;
                text-decoration: none;
                font-weight: 300;
                color: #000;
                text-transform: uppercase;
                font-size: 14px;

                //width:100%;
              }
            }
          }
        }
      }
    }
  }
  @include breakpoint($smallmax-screens) {

  }
  @include breakpoint($almost-screens) {

  }
  @include breakpoint($medium-screens) {
    ul {
    }
    li {
    }
    >ul {
      li {

      }
      >li {
        >ul {
          >li:nth-child(1) {

            a {
            }
          }
          >li:nth-child(2) {
            >ul {
              margin: 30px 0px 0;
              >li {
                a {
                }
              }
            }
          }
        }
      }
    }

  }
}
