section#header {
  @include breakpoint($almost-screens) {
  //  padding-top: 40px;
    border-bottom: 0 solid transparent;
    position: relative;
    background-color: #fff;
    width: 100%;
    z-index: 2;
    color: #fff;
    height:100px;

    //top:100px;
    .in-frame {
      position: relative;
      //padding: 30px 10px 0;
      >ul {
        padding: 0;
        margin: 0;
        >li {
          display: inline-block;
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
        }
        >li:nth-child(1) {
          display: block;
          position: relative;
          background: url("../img/logo-b.png") no-repeat;
          background-position: center 8px;
      background-size: 84%;
    height: 112px;
        }
        >li:nth-child(2) {
          display: block;
          position: relative;
          background: url("../img/presidencia-b.png") no-repeat;
          background-position: center 26px;
          background-size: 70%;
          height: 65px;
        }
        >li:nth-child(3) {
          position: relative;
        }
        >li:nth-child(4) {
          display: block!important;
          >ul {
            position: absolute;
            top: 40px;
            right: 10px;
            padding: 0;
            margin: 0;
            >li {
              display: inline-block;
              height: 20px;
              color:#000;
            }
            >li:nth-child(2) {
              /*   background: url("../img/lang.jpg") no-repeat;
            background-position: center 0;
            width: 70px; */
            }
          }
        }
      }
    }
  }
}
.hidden-menu {
  @include breakpoint($almost-screens) {
    #header {
      //margin-top: -30px;
      position: absolute;
      height: 53px;
      top: 0;
      margin: 0!important;
      padding: 0!important;
      border-bottom: 0 solid transparent!important;

      border-bottom:0px solid transparent!important;
      .in-frame {
        >ul {
          >li {

          }
          >li:nth-child(1) {
            height: 41px;
            margin-top: -3px;
            background-size: 27%!important;
          }
          >li:nth-child(2) {
            ul {
              li {

              }
            }
          }
          >li:nth-child(4) {
            display:none!important;
            ul{
              z-index: 10;
              top: 21px;
              li:nth-child(2){
                display:none;

              }

            }

          }
        }
      }
    }
  }
}
