// ----
// Sass (v3.3.10)
// Compass (v1.0.0.alpha.20)
// Susy (v2.1.2)
// ----
//@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);
$menuheight: 40px;
section#site-navigation {
  .menu-toggle {
    display: block;
    position: absolute;
    z-index: 20;
    right: 20px;
    top: 10px;
    font-size: 30px;
  }
  nav {
    #primary-menu {
      display: none;
      //font-family: 'Roboto Condensed', sans-serif;
      font-family: 'geogrotesque';
    }
  }
  @include breakpoint($almost-screens) {
    position: relative;
    z-index: 3;
    height: 51px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    .menu-toggle {
      display: none;
    }
    .in-frame {
      //position: relative;
      #primary-menu {
        display: block !important;
        position: relative;
        //padding: 0;
        margin: 0;
        float: right;
        padding: 0 5% 0 0;
        /* height: 40px; */
        top: -12px;
        position: relative;
        li {
          //overflow-x:hidden;
          /* float: left; */
          padding: 0;
          display: inline-block;
          /* height: 14px; */
          padding: 0;
          a {
            height: 40px;
            text-decoration: none;
            font-weight: 300;
            color: #636363;
            font-size: 21px;
            padding: 11px 20px;
            z-index: 11;
            cursor: pointer;
          }
          a:hover {
            color: #3d8dd4;
          }
          .dropdown {
            z-index: -1;
            display: none;
            position: absolute;
            left: 0;
            margin: 0;
            padding: 10px 100000px;
            top: 40px;
            margin-left: -100000px;
            margin-right: -100000px;
            /* height: 40px; */
            background-color: rgba(0, 0, 0, 0.9);
            -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            li {
              display: inline-block;
              height: 16px;
              width: 45%;
              line-height: 0;
              padding: 5px 0;
              a {
                font-size: 15px;
                text-transform: uppercase;
                color: #fff;
                padding: 0;
                font-weight: 200;
                border-bottom: 0 solid transparent;
              }
            }
            li:hover {
              background-color: transparent;
              a {
                color: #00B0F6;
                //background-color: rgba(0,0,0,0.5);
                border-bottom: 0 solid transparent;
                //  padding: 1px;
              }
            }
          }
        }
        li:nth-child(1) {
          .dropdown {
            left: -3%;
            li {
              text-align: center;
              width: 150px;
            }
          }
        }
        li:nth-child(2) {
          .dropdown {
            left: 10%;
            text-align: center;
            li {
              width: 120px;
            }
          }
        }
        li:nth-child(3) {
          .dropdown {
            left: 21%;
            li {
              text-align: center;
              width: 120px;
            }
            li:nth-child(2) {
              //  width: 60px;
            }
          }
        }
        li:nth-child(4) {
          .dropdown {
            left: 21%;
            li {
              text-align: center;
              width: 150px;
            }
            li:nth-child(1) {
              //width: 160px;
            }
          }
        }
        li:nth-child(5) {
          .dropdown {
            left: 5%;
            li {
              text-align: center;
              width: 120px;
            }
          }
        }
        >li:hover {
          //  background-color: #fff;
          //border-bottom:3px solid #20bad2;
          a {
            color: #000;
            border-bottom: 4px solid #00B0F6;
          }
          .dropdown {
            display: block;
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
          }
        }
      }
    }
  }
  @include breakpoint($large-screens) {
    #primary-menu {
      padding: 0 16% 0 0!important;
    }
  }
}
section#header {
  //display: none!important;
}
.hidden-menu {


  section#site-navigation {
    padding: 0 0 0 0!important;
    .search-box {
      display:none;
    }
    @include breakpoint($medium-screens) {
      padding: 0 20% 0 0;
      .in-frame{
        position:relative;
      }
      .search-box {
        display:none;
        position: absolute;
        right: -26px;
        top: 11px;
        i:hover{
          cursor:pointer;
        }
        .search-input {
          input {
            margin: -4px 5px 0 0px;
            //	display:none;
            position: absolute;
            top: 0;
            right: 114%;
            z-index: 1;
            width: 0;
            font-family: 'geogrotesque';
          }
        }
      }
    }
    @include breakpoint($almost-screens) {
      top: 10px;
      height: 44px;
      padding: 0 5% 0 0!important;
      border-top: 0 solid transparent;
      border-bottom: 2px solid #000!important;
      background-color: transparent;

      #primary-menu {


        li {
          padding: 21px 0;
          height: 40px;
          //padding: 10px;
          a {
            padding: 8px 20px;
            font-size: 18px;
          }
          .dropdown {
            //  padding-top:33px;
            top: 56px;
            li {
              a {

              }
            }
          }
        }
      }
    }
    @include breakpoint($large-screens) {
      top: 10px;
      height: 44px;
      padding: 0 5% 0 0;
      border-top: 0 solid transparent;
      border-bottom: 2px solid #000!important;
      background-color: transparent;
      .search-box {
        display:block!important;
      }
      #primary-menu {
        li {
          padding: 21px 0;
          //padding: 10px;
          a {
            padding: 8px 20px;
            font-size: 18px;
          }
          .dropdown {
            //  padding-top:33px;
            top: 56px;
            li {
              a {

              }
            }
          }
        }
        li:nth-child(1) {
          .dropdown {
            left: -3.5%;
            li {
              text-align: center;
              width: 150px;
            }
          }
        }
        li:nth-child(2) {
          .dropdown {
            left: 9%;
            text-align: center;
            li {
              width: 120px;
            }
          }
        }
        li:nth-child(3) {
          .dropdown {
            left: 18.5%;
            li {
              text-align: center;
              width: 120px;
            }
            li:nth-child(2) {
              //  width: 60px;
            }
          }
        }
        li:nth-child(4) {
          .dropdown {
            left: 15%;
            li {
              text-align: center;
              width: 150px;
            }
            li:nth-child(1) {
              //width: 160px;
            }
          }
        }
        li:nth-child(5) {
          .dropdown {
            left: -3.5%;
            li {
              text-align: center;
              width: 120px;
            }
          }
        }
      }
    }
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {

}
