#inside-header {
  overflow: hidden;
  background: url("../img/header-interno-1.jpg");


  height: 80px;
  @include breakpoint($almost-screens) {
    background-size:cover;
    background-position:0 0;
    min-height: 420px;
  }
}
#content-inside {
  position: relative;
  padding: 10px;
  .in-frame {
    background-color: #fff;
    .content-header {
      >ul {
        padding: 0;
        margin: 0;
        >li {
          display: inline-block;
        }
        >li:nth-child(1) {
          .header-title-container {
            float: left;
            border-bottom: 3px solid #daeffa;
            padding: 0 0 10px;
            h1 {
              float: left;
              clear: none;
              color: #128bd0;
              font-size: 24px;
              margin: 20px 0 0;
              padding: 15px;
            }
            p {
              clear: both;
              float: left;
              margin: 0;
              width: 100%;
              font-size: 14px;
              color: #717173;
              padding: 0 15px;
            }
          }
          li:nth-child(2) {

          }
        }
      }
    }
    #secondary {
      padding: 20px;
      .sidebar-menu {
        padding: 15px 0;
        margin: 0;
        >li {
          margin: 5px 0;
          display: inline-block;
          text-transform: uppercase;
          font-size: 13px;
          color: #666;
          font-weight: 300;
          width: 100%;
          a {
            color: #666;
            text-decoration: none;
          }
          a:hover {
            color: #4ca7cd;
          }
        }
      }
    }
  }
  @include breakpoint($medium-screens) {
    padding: 0;
    top: -20px;
    position: relative;
    //top: -50px;
    .in-frame {
      background-color: #fff;
      .content-header {
        margin-bottom: 20px;
        >ul {
          padding: 0 0 0 30px!important;
          margin: 0;
          >li {
            display: inline-block;
          }
          >li:nth-child(1) {
            .header-title-container {
              position: relative;
              padding: 2px 170px 0 0;
              float: left;
              border-bottom: 3px solid #daeffa;
              h1 {
                float: left;
                clear: none;
                font-size: 24px;
                margin: 20px 40px 20px 0;
                padding: 0;
              }
              p {
                /* float: right; */
                margin: 20px 0;
                width: 170px;
                position: absolute;
                font-size: 14px;
                clear: none;
                right: 0;
                top: 0;
              }
            }
          }
          li:nth-child(2) {

          }
        }
      }
      #secondary {
        padding: 0 15px 0 30px;
        position: relative;
        .sidebar-menu {
          padding: 20px 0;
          margin: 0;
          >li {
            a {

            }
            a:hover {

            }
          }
        }
      }
    }
  }
}

//_________________________________
//agenda
//_________________________________
section.agenda {
  .in-frame {
    .content-header {
      >ul {
        padding: 0!important;
        margin: 0;
        >li {
          display: inline-block;
        }
        >li:nth-child(1) {
          h1 {

          }
          p {

          }
        }
        li:nth-child(2) {
          .calendar-widget {
            display: none;
          }
        }
      }
    }
    #secondary {
      .calendar-header {
        font-size: 30px;
        text-align: center;
        padding-bottom: 10px;
        .calendar-header-month {
          font-weight: 100;
        }
        i {
          font-size: 19px;
          position: relative;
          top: -3px;
          font-weight: 100;
          color: #707070;
          margin: 0 10px;
        }
      }
      .sidebar-menu {
        display: none;
      }
    }
  }
  .inner-content {
    padding: 15px;
    article {
      header {
        clear: both;
        h4 {
          background-color: #504f51;
          padding: 2px 8px;
          color: #fff;
          font-size: 17px;
          font-weight: normal;
          display: inline-block;
          text-transform: uppercase;
          margin: 5px 0;
          font-weight: 300;
          //  font-family: 'Dosis', sans-serif;
        }
        h1 {
          font-weight: light;
          color: #504f51;
          margin: 5px 0;
          font-size: 30px;
          //font-family: 'Dosis', sans-serif;
          strong {
            font-weight: bold;
          }
        }
        h3.sala {
          clear: none;
          background-color: #969696;
          color: #fff;
          padding: 2px 5px;
          float: left;
        }
        h3 {
          margin: 10px 5px 10px 0;
          font-weight: 300;
          float: left;
          padding: 2px;
          font-size: 19px;
        }
      }
      p {
        clear: both;
        font-weight: 300;
        color: #504f51;
      }
      figure {
        margin: 0;
        img {
          min-width: 100%;
        }
      }
      footer {
        padding: 20px 0;
      }
    }
  }
  @include breakpoint($smallmax-screens) {
    .in-frame {
      .content-header {
        >ul {
          >li {

          }
          >li:nth-child(1) {
            h1 {

            }
            p {

            }
          }
          li:nth-child(2) {
            .calendar-widget {
              i {

              }
              ul {
                >li {

                }
                li:nth-child(1) {

                }
                li:nth-child(2) {

                }
              }
            }
          }
        }
      }
      #secondary {
        .calendar-header {
          .calendar-header-month {

          }
          i {

          }
        }
        .sidebar-menu {
          display: none;
        }
      }
    }
    .inner-content {
      article {
        header {
          h4 {

          }
          h1 {
            strong {

            }
          }
          h3.sala {

          }
          h3 {

          }
        }
        p {

        }
        figure {
          img {

          }
        }
      }
    }
  }
  @include breakpoint($almost-screens) {
    .in-frame {
      .content-header {
        position: relative;
        >ul {
          >li {

          }
          >li:nth-child(1) {
            h1 {

            }
            p {

            }
          }
          li:nth-child(2) {
            //position: relative;
            .calendar-widget {
              display: block;
              width: 140px;
              background-color: #00B0F6;
              float: left;
              position: absolute;
              right: 30px;
              top: 20px;
              padding: 5px 10px;
              i {
                color: #fff;
                font-size: 30px;
                float: left;
                width: 40%;
                text-align: center;
                margin-top: 11px;
              }
              ul {
                padding: 0;
                margin: 0;
                width: 60%;
                float: left;
                >li {
                  display: inline-block;
                  color: #fff;
                  text-align: center;
                  width: 100%;
                }
                li:nth-child(1) {
                  font-size: 30px;
                }
                li:nth-child(2) {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
      #secondary {
        .calendar-header {
          .calendar-header-month {

          }
          i {

          }
        }
        .sidebar-menu {
          display: block;
        }
      }
    }
    .inner-content {
      padding: 10px 16% 20px 30px;
      position: relative;
      article {
        header {
          h4 {

          }
          h1 {
            strong {

            }
          }
          h3.sala {

          }
          h3 {

          }
        }
        p {

        }
        figure {
          img {

          }
        }
      }
    }
    .inner-content:before {
      content: '';
      position: absolute;
      left: 0;
      top: 3%;
      height: 90%;
      width: 1px;
      margin-bottom: 10%;
      background: #e1e1e1;
    }
  }
}

//_________________________________
//agenda - inside
//_________________________________
section.agenda-in {
  .in-frame {
    .content-header {
      >ul {
        padding: 0!important;
        margin: 0;
        >li {
          display: inline-block;
        }
        >li:nth-child(1) {
          h1 {

          }
          p {

          }
        }
        li:nth-child(2) {
          .calendar-widget {
            display: none;
          }
        }
      }
    }
    #secondary {
      .calendar-header {
        font-size: 30px;
        text-align: center;
        padding-bottom: 10px;
        .calendar-header-month {
          font-weight: 100;
        }
        i {
          font-size: 19px;
          position: relative;
          top: -3px;
          font-weight: 100;
          color: #707070;
          margin: 0 10px;
        }
      }
      .sidebar-menu {
        display: none;
      }
    }
  }
  .inner-content {
    padding: 15px;
    article {
      header {
        clear: both;
        h4 {
          background-color: #504f51;
          padding: 2px 8px;
          color: #fff;
          font-size: 17px;
          font-weight: normal;
          display: inline-block;
          text-transform: uppercase;
          margin: 5px 0;
          font-weight: 300;
          //  font-family: 'Dosis', sans-serif;
        }
        h1 {
          font-weight: light;
          color: #504f51;
          margin: 5px 0;
          font-size: 30px;
          //font-family: 'Dosis', sans-serif;
          strong {
            font-weight: bold;
          }
        }
        h3.sala {
          clear: none;
          background-color: #969696;
          color: #fff;
          padding: 2px 5px;
          float: left;
        }
        h3 {
          margin: 10px 5px 10px 0;
          font-weight: 300;
          float: left;
          padding: 2px;
          font-size: 19px;
        }
      }
      p {
        clear: both;
        font-weight: 300;
        color: #504f51;
      }
      figure {
        margin: 0;
        img {
          min-width: 100%;
        }
      }
      footer {
        padding: 20px 0;
      }
    }
  }
  @include breakpoint($smallmax-screens) {
    .in-frame {
      .content-header {
        >ul {
          >li {

          }
          >li:nth-child(1) {
            h1 {

            }
            p {

            }
          }
          li:nth-child(2) {
            .calendar-widget {
              i {

              }
              ul {
                >li {

                }
                li:nth-child(1) {

                }
                li:nth-child(2) {

                }
              }
            }
          }
        }
      }
      #secondary {
        .calendar-header {
          .calendar-header-month {

          }
          i {

          }
        }
        .sidebar-menu {
          display: none;
        }
      }
    }
    .inner-content {
      article {
        header {
          h4 {

          }
          h1 {
            strong {

            }
          }
          h3.sala {

          }
          h3 {

          }
        }
        p {

        }
        figure {
          img {

          }
        }
      }
    }
  }
  @include breakpoint($almost-screens) {
    .in-frame {
      .content-header {
        position: relative;
        >ul {
          >li {

          }
          >li:nth-child(1) {
            h1 {

            }
            p {

            }
          }
          li:nth-child(2) {
            //position: relative;
            .calendar-widget {
              display: block;
              width: 140px;
              background-color: #00B0F6;
              float: left;
              position: absolute;
              right: 30px;
              top: 20px;
              padding: 5px 10px;
              i {
                color: #fff;
                font-size: 30px;
                float: left;
                width: 40%;
                text-align: center;
                margin-top: 11px;
              }
              ul {
                padding: 0;
                margin: 0;
                width: 60%;
                float: left;
                >li {
                  display: inline-block;
                  color: #fff;
                  text-align: center;
                  width: 100%;
                }
                li:nth-child(1) {
                  font-size: 30px;
                }
                li:nth-child(2) {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
      #secondary {
        .calendar-header {
          .calendar-header-month {

          }
          i {

          }
        }
        .sidebar-menu {
          display: block;
        }
      }
    }
    .inner-content {
      padding: 0 30px 0 30px;
      position: relative;
      article {
        header {
          h4 {

          }
          h1 {
            strong {

            }
          }
          h3.sala {

          }
          h3 {

          }
        }
        p {

        }
        figure {
          img {

          }
        }
      }
    }
    .inner-content:before {
      content: '';
      position: absolute;
      left: 0;
      top: 3%;
      height: 90%;
      width: 1px;
      margin-bottom: 10%;
      background: #e1e1e1;
    }
  }
}
