#test{
  width:100%;
  background-color:#ddd;
  // min-height: 100vh;
  .swiper-container {
    //padding-top:200px;
    z-index:0;
    width: 100%;
    height: 100%;

    .swiper-slide {
      img {
        max-width: 100%;
        min-width:100%;
      }
    }
    .swiper-button-prev,  .swiper-button-next{
    opacity:0;
    display:none;
    }
  }


}
